*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
Application/*.iml
Application/.gradle
Application/local.properties
Application/.idea/workspace.xml
Application/.idea/libraries
Application/.DS_Store
Application/build
Application/captures
Application/.externalNativeBuild
